table {
width:100%;
box-shadow:0 0 10px #ddd;
text-align:center;
}
th{
padding:3px;
background:#DB2020;
color:#fff;
}
td{padding:3px;
border:solid #ddd;
border-width:0 0 1px;
background:white;
}
caption{
color:#DB2020;
font:bold 0.7em tahoma;
background:white;
height:50px;
}
#elegirconsejoscomunales,#elegirmovimientosociales{
width:25px;
height:25px;
}
.id,#id,.idmovimiento{
display:none;
}

#generarpdfcomunas, #generarpdfconsejos, #generarpdfmovimientos{
margin-top:34px;
width:40px;
height:50px;
}
